## Uncomment the Python packages you want to install


## Data science:

numpy
#scipy
#pandas
#scikit-learn
#matplotlib
#seaborn
#pyspark


## Computer vision:

#opencv-python
#pillow
#scikit-image
#imageio
#ffmpeg
#moviepy


## Deep learning packages:

#keras
#torchvision
#tensorflow
#tensorflow-gpu
#tensorboard
#Theano
#fastai
#Lasagne
#tflearn
#h5py


## Other popular packages:

#requests
#ipython
#Scrapy
#nose
#jupyter
#Flask
#setuptools 
#cmake



